/* Dark Theme */
.dark {
  --color-primary: #3b82f6;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #06b6d4;
  --color-secondary: #6b7280;
  --color-dark: #ffffff;
  --color-light: #1f2937;
  --color-lightprimary: #1e3a8a;
  --color-lightsuccess: #065f46;
  --color-lightwarning: #92400e;
  --color-lighterror: #991b1b;
  --color-lightinfo: #0e7490;
  --color-link: #9ca3af;
  --color-darklink: #6b7280;
  --color-border: #374151;
  --color-darkborder: #e5e7eb;
  --color-ld: #ffffff;
  --color-bg-hover: #374151;
  --color-primaryemphasis: #2563eb;
  --color-secondaryemphasis: #4b5563;
  --color-infoemphasis: #0891b2;
  --color-erroremphasis: #dc2626;
  --color-successemphasis: #059669;
  --color-warningemphasis: #d97706;
  --color-lighthover: #374151;
  --color-darkmuted: #f3f4f6;
  --color-bordergray: #374151;
  --color-muted: #374151;
  --color-darkgray: #ffffff;
  --bs-white: #1f2937;
  --color-surface-ld: #1A2537;
}

/* Dark Theme Specific Styles */
.dark .sidebar-nav .caption {
  border-top: 1px dashed var(--color-darkborder);
}

.dark .timeline-tabs .timeline .timeline-icon:after {
  background-color: var(--color-darkborder);
}

.dark .timeline-tabs .timeline-list {
  border-bottom: 1px solid var(--color-darkborder);
}

.dark #vector-map svg .dxm-background {
  fill: transparent !important;
}

.dark #vector-map svg path {
  stroke-width: 0;
}

.dark .rbc-today {
  background-color: var(--color-darkmuted);
}

.dark .rbc-month-row+.rbc-month-row,
.dark .rbc-day-bg+.rbc-day-bg,
.dark .rbc-header,
.dark .rbc-month-view,
.dark .rbc-toolbar button,
.dark .rbc-time-content>*+*>* {
  border-color: var(--color-darkborder) !important;
}

.dark .rbc-day-bg+.rbc-day-bg {
  border-left: 1px solid var(--color-darkborder) !important;
}

.dark .rbc-toolbar button {
  background-color: var(--color-darkmuted) !important;
  color: var(--color-white);
}

.dark .rbc-toolbar button:active,
.dark .rbc-toolbar button.rbc-active {
  background-color: var(--color-lightprimary) !important;
}

.dark .ql-toolbar.ql-snow {
  border: 1px solid var(--color-darkborder) !important;
}

.dark .ql-container.ql-snow {
  border: 1px solid var(--color-darkborder) !important;
}

.dark .code-modal pre {
  background-color: var(--color-darkmuted) !important;
  color: inherit !important;
}

/* For input Date */
.dark ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.dark .miniicons [data-testid="flowbite-tooltip"] {
  width: max-content;
  background-color: var(--color-primary);
}

.dark .miniicons [data-testid="flowbite-tooltip-arrow"] {
  background-color: var(--color-primary);
} 